body{
    width:960px;
    height:100%;
    margin-left:5%;
    background-image: url('../img/download.jpeg');
}
hr{
    width:100%;
    outline-style: solid;
    outline-width: 10px;
    margin-left: 5%;
    margin-right:5%;
}
#thefish{
    width:80%;
    margin-left:10%;
}
header{
    width:100%
}
nav img {
position:absolute;
z-index: -1;
margin-left:0% auto;
width:80%;
height:30%;
}

nav h1{
    display:block;
    margin-left:20%;
}
nav ul{
    margin-left:30%;
}
nav p{
    margin-left:10%;
    font-size: 20px;
    display: inline-block;
    margin-top:20%;
}
    
#about-us{
    width:50%;
    display:inline-block;
}
#family{
    width:100%;
}
#store-hours{
    display:inline-block;
    width:50%;
    height:50%;
    position:absolute;
}
#store-hours h2{
    display:inline-block;
    margin-left:7%;
}
#fish1{
    width: 30%;
    height: 10%;
    float:left;
    
}
#fish2{
    width: 30%;
    height: 10%;
    float:right;
}
.opp-hours{
    display:inline-block;
    list-style-type: none;
    font-size: 25px;
}
#times{
    margin-right: 10%;
    margin-left: 0%;
}
#days{
    margin-left:25%;
}
#featured-items{
    width:100%;
}
#featured-items h2{
    margin-left:45%;
}
#featured-items ul{
    width:100%;
}
#featured-items img{
    margin-left:7%;
    width:25%;
    height:20%;
}